<div class="panel-intro">
    <div class="form-space-intro-title form-space" data-section="intro" data-type="title">
        <div class="sub-wrapper-title"> 
            <h1 class="text-heading-primary text-center">{{site.title}}</h1>
        </div>
    </div>
    <div class="sub-wrapper-intro-content">
        <div class="sub-wrapper-intro-observation">
            <div class="form-space-intro-observation-label form-space text-label" data-type="label" data-section="intro">
                Observation:
            </div>
            <div class="form-space-intro-observation form-space" data-section="intro" data-type="content">
                <h2 class="text-heading-primary">{{site.intro.observation}}</h2>
            </div>
        </div>
        <div class="sub-wrapper-intro-hypothesis">
            <div class="form-space-intro-hypothesis-label form-space text-label" data-type="label" data-section="intro">
                Hypothesis:
            </div>
            <div class="form-space-intro-hypothesis form-space" data-section="intro" data-type="content">
                <h2 class="text-heading-primary">{{site.intro.hypothesis}}</h2>
            </div>
        </div>
        <div class="sub-wrapper-intro-method">
            <div class="form-space-intro-method-label form-space text-label" data-type="label" data-section="intro">
                Methodology:
            </div>
            <div class="form-space-intro-method form-space" data-section="intro" data-type="content">
                <h2 class="text-heading-primary">{{site.intro.methodology}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="panel-guests">
    <div class="sub-wrapper-guests-content">
        <div class="sub-wrapper-guests-details">
            <div class="form-space-guests-details-label form-space text-label" data-type="label" data-section="guests">
                The team:
            </div>
            <div class="form-space-guests-details form-space" data-section="guests" data-type="content">
                <p>{{site.team.description}}</p>
            </div>
        </div>
        <div class="sub-wrapper-guests-roster">
            <div id="roster" class="form-space-guests-roster-label form-space text-label" data-type="label" data-section="guests">
                Research Roster:
            </div>
            <div class="form-space-guests-roster form-space" data-section="guests" data-type="content">
                <div class="guests-grid">
                    <div class="guests-grid-container">
                        <!-- GUEST_CARDS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EPISODE_SECTIONS --> 